{% extends "blog/base.html" %} {% load staticfiles %} {% block about %}

<header class="about">
    <div class="about__logo-box">
        <img src="{% static 'blog/img/tacc.jpg' %}" alt="Logo" class="about__logo">
        <img src="{% static 'blog/img/nysc.jpg' %}" alt="Logo" class="about__logo">
    </div>

    <div class="about__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--about-main">Motto</span>
            <span class="heading-primary--about-sub">Jesus is our Anchor</span>
        </h1>
    </div>
</header>


<main>
    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                history of taccf
            </h2>
        </div>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            the beginning
        </h3>
        <p class="subparagraph">
            ‘’Write the vision, and make it plain upon tables, that he may run that readeth it. For the vision
            is yet for an appointed time,’’ says the Word of the Lord in Habakkuk 2:2-3. For every new
            beginning, there requires a recording process, for posterity sake and for memories of a landmark
            achievement.<br><br>
            All over Nigeria, The Apostolic Church Nigeria commonly abbreviated as TACN is one of the renowned
            Pentecostal churches with its spheres of influence in every known part and tribe of the country.
            Some of the church's territories are LAWNA, Maritime, Akwa Ibom, Cross Rivers, Igboland etc. It is
            not limited to Nigeria, but known all over the world. The National headquarters is in Lagos. TACN
            has a tertiary student arm known as The Apostolic Church Students’ Fellowship of Nigeria (TACSFON).

        </p>
        <br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            The Uncommon Beginning
        </h3>
        <p class="subparagraph">
            As earlier stated, TACN has a student arm called TACSFON, but rarely was it heard or seen that it has an arm
            for Youth Corps Members, hence Maritime Territory became one of the territories recorded in the history of
            TACN to birth a Corpers' Fellowship. However, this was not without its challenges.
            The TACCF story goes thus:<br>
            TACCF stands for The Apostolic Church Corpers' Fellowship.<br><br>
            TACCF in Rivers State started in 2017. This was precedented by the pioneer founder, Mr. Friday Ndiigbo when
            he went for his National Youth Service in 2010 in Sokoto State. He met TACCF Sokoto Chapter, which was quite
            established as it had already recorded 6 sets before his set. He met the Fellowship officials such as the
            executive members, the past executive members, commonly called the G-excos, patrons as well as matrons.
            <br><br>
            While there, he served as the Prayer Secretary, then became the President of the Fellowship. His experience
            in Sokoto State spurred him to make up his mind to see that TACCF is also established in Rivers State.
            <br><br>
            He began to take some steps to this effect on his return. He discussed with some Fathers in the Territory.
            Fathers like Pastor King Umossoh, Pastor Bassey Isaiah and Apostle (DR.) Timothy Adeniyi, the then outgoing
            President of TACSFON Rivers State Chapter. He, Mr. Friday Ndiigbo, was made the TACSFON NYSC coordinator in
            2015. After this, moves were made to enter the NYSC Orientation camp in Nonwa Gbam in Tai Local Government
            Area of Rivers State. This was in a bid to get access to new members. However, due to the fact that churches
            were not allowed to operate in camp apart from the Nigeria Christian Corpers’ Fellowship (NCCF), the only
            recognized Christian fellowship in the camp, they could not go through. This almost made him give up as it
            seemed impossible at the time. <br><br>
            In 2016, it was announced that Maritime Territory will be hosting the TACSFON National Conference. During
            the preparation for the Conference, Mr. Friday had the opportunity to meet with Top NYSC officials as they
            had to make use of the NYSC orientation camp in Nonwa Gbam for the Conference. He seized the said
            opportunity to discuss some salient things as regarding the establishment of the Fellowship. Also, the then
            TACSFON National Coordinator Eld. Bola Ogunkoye was informed and he gave his consent.<br><br>
            October 2017 made the first opportunity to meet the 2017 Batch B in camp. Unknowingly to the pioneer team,
            the 2016-2017, The Apostolic Church Nonwa Area Council, headed by Pastor Charles Achonwa, had set up a
            committee to raise a Fellowship for the Corpers, being that the Area is where the orientation is sited, and
            coupled with the fact that they have witnessed other churches welcoming their members. But the initial
            challenge of not being able to gain access into the camp also limited the efforts of the Committee. <br><br>
            Nevertheless, the Committee was informed of the ongoing plans concerning the Fellowship. The Committee
            headed by Pastor Charles Achonwa contributed ideas and encouraged Mr. Friday Ndiigbo to start. <br><br>
            This he started as he had the privilege to enter camp and worship there. He joined other fellowships who
            visited every Sunday. He was able to meet some The Apostolic Church Members. On the last Sunday in camp when
            free access to camp was granted, he was able to meet with these members. <br><br>
            The success he could record was received with so much joy by the Fathers. Pastor Charles and Pastor Isaiah
            came to camp to meet with the newly found members during one of the Sunday services. This activated the
            first members of the Fellowship.<br><br>
            Unfortunately, during posting, the corps members were posted to different local government areas outside
            Port Harcourt. This made it impossible for them to be assembled in a place. Also, there was no lodge,
            commonly known as the family house in sight yet. This same challenge presented itself three batches after
            the first one. <br><br>
            All through this, Pastor Isaiah was a major supporter of the vision, financially, morally, physically, etc.
            He surrendered himself to the services of raising and seeing to it that the vision of establishing the
            Fellowship came through. <br><br>
            As stated earlier, the 2017 set were the first members of the fellowship, notably among them were Sister
            Shade Oni, Brother Segun, Brother Femi Akinola, Brother Kingsley Akpan, Sister Patience and Sister Grace. It
            was recorded by Mr. Friday that this set served the fellowship with their heart and soul. Several meetings
            were held as the running of the fellowship became burdensome due to financial constraints, non-availability
            of a fixed house for the fellowship, among other things. It was almost near giving up but fatherly words of
            encouragement from Fathers kept it going.<br><br>
            After all these, Evangelist now Pastor Nwachukwu was appointed the Maritime Territory Youth Coordinator and
            Mr. Friday Ndiigbo was appointed as an executive as the NYSC Coordinator under the territory. This called
            for a meeting and the first unofficial executive members were appointed. Brother Kingsley was the President
            and Brother Segun became the PRO. Sister Grace was the Sisters’ Coordinator and mother of the fellowship.
            This enabled administrative activities to be carried out. A WhatsApp page was created and letters containing
            the needs and intents of the fellowship were drafted and sent to the Territorial Chairman Apostle L. O.
            Ogbonna. Meetings were held with the Territorial Executive Members where they discussed the missions,
            visions and goals of the fellowship. This prompted the need to find a suitable family house. <br><br>

        </p>
    </section>

    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium ">
            <h2 class="heading-secondary">
                vision and mission of taccf
            </h2>
        </div>
        <p class="subparagraph">
            We pray that the Almighty God continue to bless and multiply you as you plan to be with us in
            his presence in Jesus name. Thanks, in anticipation and God bless you.
            Yours in service
        </p>
    </section>

    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                divine province
            </h2>
        </div>
        <p class="subparagraph">
            In 1983, NCCF came into existence. In NCCF we call ourselves "Jesus Corpers" and the vision of the
            fellowship is
            "To ensure that Corps members encounter Jesus Christ and are effectively equipped to preach the gospel and
            disciple men everywhere in Nigeria".<br>

            NCCF exists in the 36 states of the country including the FCT and has her national headquarters in Jos,
            plateau
            state.<br>

            We are a three in one body;<br>
            Fellowship (where Christ and not church is preached)<br>
            Organization (meaning we are registered with the corporate affairs commission, and as a corporate body NCCF
            can
            sue and can be sued).<br>
            One big family<br>
            In NCCF, we generate our funds through four means<br>
            1. Tithes<br>

            2.Offerings<br>

            3.Freewill donation<br>

            4. Capitation (Capitation is one out of your 12 month allowances. It can be paid in instalments.)<br>

            A residential house where Jesus Corpers live is called Family House. Each state has zones, sub zones and
            units.
            NCCF family house is a home away from home... she provides accommodation to corpers who want to stay with
            her...
            if you want to know more about NCCF, then visit any of the family houses.<br>
        </p>
    </section>

    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                Rural Rugged Evangelism (NCCF'S Core Mission)
            </h2>
        </div>
        <p class="subparagraph">
            We spread the love and gospel of Jesus, through humanitarian services and evangelism, it is an integral part
            of
            our fellowship. We carry out medical check-ups, and most importantly - preaching the gospel of Jesus Christ
            the
            risen King in the nooks and crannies of the Country. We also do evangelism through hospital visitation,
            prison
            visitation, house to house and street evangelism, among many others.
        </p>
    </section>

    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                taccf board of trustees
            </h2>
        </div>



        <div class="row u-margin-top-medium">
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/Adeniyi_Timothy.jpg' %}" alt="photo 4"
                        class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/allen.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/king.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/friday.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
        </div>

        <div class="row u-margin-top-medium">
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/cross.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/praise.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/Adeniyi_Timothy.jpg' %}" alt="photo 4"
                        class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/cross.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
        </div>



    </section>

    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                developer
            </h2>
        </div>
        <p class="subparagraph">
            i am theodore eyo. a network engineer and web developer with django web framework, specializing in both
            frontend and backend development. the language used in this site include html. css javascript bootstrap
            python.<br><br>
            my jorney to the developer industry started right in the taccf family house about a year ago in preparation
            for network programmability which at the time was and will be the future of modern network
            engineers.<br><br>
            so i enbacked on this project; and i saw no better place to startthan to render this to the fellowship that
            received me after mu 3 week stay in NYSC orientation camp.<br><br>
            this happens to be my first project and i apreciate God Almighty for how far he has brought me in life. my
            parents. Prof. and Doc Mrs Nora E. Eyo for all their support, financially and otherwise including an awesome
            aunty of mine Mrs Eno Edet.<br><br>
            i also want to send a shout out to my siblings, Dr. Martyn and Nelly.
            next i stand to acknowledge 2 awesome tutors who made me understand what being a web developer was all
            about. they are jonas schmedtmann from the natours project(design used for this website frontend) and corey
            ms schaffer(logic used for this website backend).
        </p>
        <br><br><br><br><br><br><br><br><br><br><br>
        <p class="subparagraph">
            here are some of the lpogic i added and things you need to know about this website<br>

        </p>
    </section>



</main><br><br><br><br><br><br><br><br><br><br>

<footer class="footer">
    <div class="row">

        <div class="col-1-of-4">

            <div class="footer__logo-box justify-content-center">
                <img src="{% static 'blog/img/tacc.jpg' %}" alt="Logo" class="header__logo">
                <img src="{% static 'blog/img/nysc.jpg' %}" alt="Logo" class="header__logo">
                <p class="heading-secondary-2">
                    the apostolic church corpers fellowship
                </p>
            </div>
        </div>
        <div class="col-3-of-4">

            <div class="row">
                <div class="col">
                    <div class="footer__navigation ml-2">
                        <ul class="footer__list">
                            <li class="footer__item">
                                <div class="popups" onclick="myFunction()">
                                    co-ordinator
                                    <span class="popuptext" id="myPopup" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded-circle article-img"
                                            src="{% static 'blog/img/phone.jpg' %}" /><br>
                                        TACCF Co-ordinator: <span class="text-warning"> Mr. Friday Indiigbo </span><br>
                                        phone_no: <span class="text-warning"> 07036909063 </span></span>
                                </div>

                            </li>
                            <li class="footer__item">
                                <div class="popups" onclick="myContact()">
                                    social media
                                    <span class="popuptext" id="myContact" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded-circle article-img"
                                            src="{% static 'blog/img/wa.jpg' %}" /><br>
                                        Get live updates from our page<br>
                                        Whatsapp: <span class="text-warning"> TACCF Rivers State Chapter</span> </span>
                                </div>
                            </li>
                            <li class="footer__item">
                                <div class="popups" onclick="mySupport()">
                                    Support
                                    <span class="popuptext" id="mySupport" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded article-img"
                                            src="{% static 'blog/img/atm.jpg' %}" /><br>
                                        Account Name: TAC Rivers State<br>
                                        Account Number: <span class="text-warning">0210878735</span><br>
                                        Bank:<span class="text-warning"> GT Savings </span>Account

                                    </span>
                                </div>
                            </li>
                            <li class="footer__item">
                                <div class="popups" onclick="myEmail()">
                                    Email
                                    <span class="popuptext" id="myEmail" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded-circle article-img"
                                            src="{% static 'blog/img/email.jpg' %}" /><br>
                                        Send you thoughts and suggestions to us<br>
                                        Email: <span class="text-warning"> teyo2012@gmail.com </span></span>
                                    </span>
                                </div>
                            </li>
                            <li class="footer__item">
                                <div class="popups" onclick="myDeveloper()">
                                    developer
                                    <span class="popuptext" id="myDeveloper" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded-circle article-img"
                                            src="{% static 'blog/img/photo.jpg' %}" /><br>
                                        <span class="text-warning"> theodore eyo </span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><br><br><br><br><br>
                <div class="row">
                    <div class="col">
                        <p class=" footer__copyright footer__item mr-4">
                            © Copyright 2019 The Apostolic Church Corpers Fellowship. All rights reserved. Privacy
                            Policy
                            2019
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




{% endblock about %}