{% extends "blog/base.html" %} {% load staticfiles %} {% block about %}

<header class="about">
    <div class="about__logo-box">
        <img src="{% static 'blog/img/tacc.jpg' %}" alt="Logo" class="about__logo">
        <img src="{% static 'blog/img/nysc.jpg' %}" alt="Logo" class="about__logo">
    </div>

    <div class="about__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--about-main">Motto</span>
            <span class="heading-primary--about-sub">Jesus is our Anchor</span>
        </h1>
    </div>
</header>


<main>
    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                history of taccf
            </h2>
        </div>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢the beginning
        </h3>
        <p class="subparagraph">
            ‘’Write the vision, and make it plain upon tables, that he may run that readeth it. For the vision
            is yet for an appointed time,’’ says the Word of the Lord in Habakkuk 2:2-3. For every new
            beginning, there requires a recording process, for posterity sake and for memories of a landmark
            achievement.<br><br>
            All over Nigeria, The Apostolic Church Nigeria commonly abbreviated as TACN is one of the renowned
            Pentecostal churches with its spheres of influence in every known part and tribe of the country.
            Some of the church's territories are LAWNA, Maritime, Akwa Ibom, Cross Rivers, Igboland etc. It is
            not limited to Nigeria, but known all over the world. The National headquarters is in Lagos. TACN
            has a tertiary student arm known as The Apostolic Church Students’ Fellowship of Nigeria (TACSFON).

        </p>
        <br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢The Uncommon Beginning
        </h3>
        <p class="subparagraph">
            As earlier stated, TACN has a student arm called TACSFON, but rarely was it heard or seen that it has an arm
            for Youth Corps Members, hence Maritime Territory became one of the territories recorded in the history of
            TACN to birth a Corpers' Fellowship. However, this was not without its challenges.
            The TACCF story goes thus:<br>
            TACCF stands for The Apostolic Church Corpers' Fellowship.<br><br>
            TACCF in Rivers State started in 2017. This was precedented by the pioneer founder, Mr. Friday Ndiigbo when
            he went for his National Youth Service in 2010 in Sokoto State. He met TACCF Sokoto Chapter, which was quite
            established as it had already recorded 6 sets before his set. He met the Fellowship officials such as the
            executive members, the past executive members, commonly called the G-excos, patrons as well as matrons.
            <br><br>
            While there, he served as the Prayer Secretary, then became the President of the Fellowship. His experience
            in Sokoto State spurred him to make up his mind to see that TACCF is also established in Rivers State.
            <br><br>
            He began to take some steps to this effect on his return. He discussed with some Fathers in the Territory.
            Fathers like Pastor King Umossoh, Pastor Bassey Isaiah and Apostle (DR.) Timothy Adeniyi, the then outgoing
            President of TACSFON Rivers State Chapter. He, Mr. Friday Ndiigbo, was made the TACSFON NYSC coordinator in
            2015. After this, moves were made to enter the NYSC Orientation camp in Nonwa Gbam in Tai Local Government
            Area of Rivers State. This was in a bid to get access to new members. However, due to the fact that churches
            were not allowed to operate in camp apart from the Nigeria Christian Corpers’ Fellowship (NCCF), the only
            recognized Christian fellowship in the camp, they could not go through. This almost made him give up as it
            seemed impossible at the time. <br><br>
            In 2016, it was announced that Maritime Territory will be hosting the TACSFON National Conference. During
            the preparation for the Conference, Mr. Friday had the opportunity to meet with Top NYSC officials as they
            had to make use of the NYSC orientation camp in Nonwa Gbam for the Conference. He seized the said
            opportunity to discuss some salient things as regarding the establishment of the Fellowship. Also, the then
            TACSFON National Coordinator Eld. Bola Ogunkoye was informed and he gave his consent.<br><br>
            October 2017 made the first opportunity to meet the 2017 Batch B in camp. Unknowingly to the pioneer team,
            the 2016-2017, The Apostolic Church Nonwa Area Council, headed by Pastor Charles Achonwa, had set up a
            committee to raise a Fellowship for the Corpers, being that the Area is where the orientation is sited, and
            coupled with the fact that they have witnessed other churches welcoming their members. But the initial
            challenge of not being able to gain access into the camp also limited the efforts of the Committee. <br><br>
            Nevertheless, the Committee was informed of the ongoing plans concerning the Fellowship. The Committee
            headed by Pastor Charles Achonwa contributed ideas and encouraged Mr. Friday Ndiigbo to start. <br><br>
            This he started as he had the privilege to enter camp and worship there. He joined other fellowships who
            visited every Sunday. He was able to meet some The Apostolic Church Members. On the last Sunday in camp when
            free access to camp was granted, he was able to meet with these members. <br><br>
            The success he could record was received with so much joy by the Fathers. Pastor Charles and Pastor Isaiah
            came to camp to meet with the newly found members during one of the Sunday services. This activated the
            first members of the Fellowship.<br><br>
            Unfortunately, during posting, the corps members were posted to different local government areas outside
            Port Harcourt. This made it impossible for them to be assembled in a place. Also, there was no lodge,
            commonly known as the family house in sight yet. This same challenge presented itself three batches after
            the first one. <br><br>
            All through this, Pastor Isaiah was a major supporter of the vision, financially, morally, physically, etc.
            He surrendered himself to the services of raising and seeing to it that the vision of establishing the
            Fellowship came through. <br><br>
            As stated earlier, the 2017 set were the first members of the fellowship, notably among them were Sister
            Shade Oni, Brother Segun, Brother Femi Akinola, Brother Kingsley Akpan, Sister Patience and Sister Grace. It
            was recorded by Mr. Friday that this set served the fellowship with their heart and soul. Several meetings
            were held as the running of the fellowship became burdensome due to financial constraints, non-availability
            of a fixed house for the fellowship, among other things. It was almost near giving up but fatherly words of
            encouragement from Fathers kept it going.<br><br>
            After all these, Evangelist now Pastor Nwachukwu was appointed the Maritime Territory Youth Coordinator and
            Mr. Friday Ndiigbo was appointed as an executive as the NYSC Coordinator under the territory. This called
            for a meeting and the first unofficial executive members were appointed. Brother Kingsley was the President
            and Brother Segun became the PRO. Sister Grace was the Sisters’ Coordinator and mother of the fellowship.
            This enabled administrative activities to be carried out. A WhatsApp page was created and letters containing
            the needs and intents of the fellowship were drafted and sent to the Territorial Chairman Apostle L. O.
            Ogbonna. Meetings were held with the Territorial Executive Members where they discussed the missions,
            visions and goals of the fellowship. This prompted the need to find a suitable family house. <br><br>
            To be continued...

        </p>
    </section>

    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                TACCF VISION and mission
            </h2>
        </div>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢the vision
        </h3>
        <p class="subparagraph">
            It is the vision of this fellowship to build leaders with proper understanding of the kingdom of God and
            ready to influence others through their gifting, intellect ministry, profession and career.

        </p> <br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢the mission
        </h3>
        <p class="subparagraph">
            The NYSC programme runs through the year with at least three batches “A, B, C”, which sometimes has streams
            and the fellowship is saddled with the responsibility to establish relationship with incoming corps members
            within and after the camp. The fellowship embarks on Rural Rugged Evangelism, School Evangelism, Hospital
            Visitation, free-lectures, Community Development Service (CDS), Seminars, Leadership Training,
            Gospel Concert and other programmes that are targeted towards soul winning, giving hope to the hopless and
            kingdom expansion. </p> <br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢2018 till date
        </h3>
        <p class="subparagraph">
            TACCF welcomed the NYSC 2018 Batch A corp members, however, the problem of family house was not solve yet,
            notable among this set was Sis. Esther Aro, Bro. Ikenga Solomon, Sis. Victoria King etc.
            In the same year, Batch B stream 1 came and to the glory of God they were able to get a family house
            Taccf Family House
            Presently, TACCF main family house is situated at The Apostolic Church, Rumuadaolu Assembly, behind
            Rumuadaolu Town hall, off Rumuola Road Port Harcourt. The family house is a space thay has been adjusted to
            accomodate members in 5 rooms- the rooms are namely Rare treasure, New Eden, Glory land, Purity and Mercy
            Flow. The 2018 Batch B Stream 1 were the first set to occupy the houses. Presently yjtn
            TACCF Excos
            TACCF Bye-Laws
            TACCF social media handles
            Currently, TACCF has an official whatsapp page that has 114 members including some Alumni, patrons, advisers
            and Corp members. The presence of the non-corp members is to facilitate a well supervised and duly runned
            fellowship being an arm of the main church. Also, an Alumni Whatsapp Page was created of which as at
            recording has 34 members having fellowship Facebook page named- TACCF Rivers State chapter. Official contact
            line is: 07031340088. The E-mail address is taccfrivers@gmail.com </p>
    </section>
    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                The Fellowship's Activities
            </h2>
        </div>

        <p class="subparagraph">
            So far, the fellowship has been able to embark on numerous activities so as to fulfil the vision and mission
            of the fellowship. God has blessed the fellowship with able men and women of spiritual soundness, these has
            equally been able to organise activities in the following areas:</p>
        <br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢ Sisters program
        </h3>
        <p class="subparagraph">
            The first sisters' activity was a Sisters Weekend which took place on February 23rd 2019, it was tagged "A
            Praise Worthy Woman". This was anchored by the then first sisters' Coordinator of the fellowship who was
            also the Vice President/Bible Secretary- Sister Esther Abiola Aro. The program was of much importance to the
            development of the sisters wing. In attendance were sisters, brothers and speakers- Dcns. Deborah Adeniyi,
            Dcns Bassey Isaiah, Dcns Nwamadi was the chief host. The sisters weekend program also brought remarkable
            improvement to the fellowship' family house as a 12kg cooking gas cylinder was bought and its cooker among
            other things.</p><br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢ TACCF Outreaches
        </h3>
        <p class="subparagraph">
            TACCF in the spirit of fulfilling its divine mandate, has embark on various outreaches with the
            Evangelism/Follow Up Unit of the fellowship. The first official outreach made by the fellowship which was
            directed by the first Evangelism/ Follow-up secretaries- Bro. Timilehin Elufisan and Sis. Oluwatofunmi
            Aribisala (Asst) was the Hospital Evangelism conducted on February 9th, 2019 to Rivers State University
            Teaching Hospital in Port Hacourt. Also, street evangelism was embarked on to win more souls for Christ.
            Orphanage visitation was made to Lemu Orphanage on May 27, 2019 to show love to the less privileges.
            Follow up activities were able to ensure an all inclusive fellowship where members who were not posted to
            Port Harcourt could come around and fellowship. Their welfare is continually sought so as to ensure an all
            encompassing and functionally run fellowship.<br>
            Furthermore, the said unit is entrusted with the reception of new corps members from camp, with the grace of
            the Lord, the fellowship has been able to increase in number from every batch of NYSC members posted to
            Rivers State.</p><br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢Other Activities include
        </h3>
        <p class="subparagraph">
            The fellowship under the supervision of the first president of the fellowship Bro. Osalebenda Daniel Okolo
            organised the first seminar for the youth in the territory on April 4th 2019 at The Apostolic Church
            Rumuadara Assembly, Port Harcourt.<br>
            Visitation to churches with the supervision of the Excos and the General Coordinator- Mr. Friday Ndigbo.
            Churches are visited to worship with the members, to seek funds, to perform ministerial tasks such as drama,
            songs, talk show etc.<br>
            Visitation to members who are not in the in Port Harcourt too is usually done, sick members are not left
            out.</p> <br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="heading-tertiary-about u-margin-bottom-small">
            ➢TACCF Patrons/Matrons/ Advisers
        </h3>
        
        <!-- include nwamadi and family for hospitality -->

        <p class="subparagraph">
            TACCF since its inception has been blessed with men and women of great value who in one way or the other
            have been a burden bearer for this fellowship. Life patrons Apostle Dr. Timothy Adeniyi and Pastor Isaiah Bassey together with several others that still play a huge role in the fellowship's growth have influenced the fellowship in the following ways; supports for a permanent family house, fellowship bus project, Evangelism
            activities, fellowship programs (sendforth, seminars), advisory, engagement, funding and many other more as
            the grace of the Lord permitted.<br>
            Here is a list of taccf's patrons/matrons:<br><br><br><br><br><br>
            <div class="subparagraph">
                <div class="row">
                    <div class="col-1-of-2">
                        <ul>
                            <li><span class="subparagraph text-success">Apostle J.O Ogbonna</span></li>
                            <li><span class="subparagraph text-success">Apostle S. B K. NEECH</span></li>
                            <li><span class="subparagraph text-success">Apostle J.B LEEMA</span></li>
                            <li><span class="subparagraph text-success">Apostle Dr. Timothy Adeniyi</span></li>
                            <li><span class="subparagraph text-success">Pastor Isaiah Bassey Isaiah</span></li>
                            <li><span class="subparagraph text-success">Pastor Dr. J.O Nwamadi</span></li>
                            <li><span class="subparagraph text-success">Pastor Charle U. Achonwa</span></li>
                            <li><span class="subparagraph text-success">Pastor King F.U. Umossoh</span></li>
                            <li><span class="subparagraph text-success">Pastor Monday P.A</span></li>
                            <li><span class="subparagraph text-success">Prof. Andrew Obafemi</span></li>
                        </ul>
                    </div>
                    <div class="col-1-of-2">
                        <ul>
                            <li><span class="subparagraph text-success">P. Elder Nicolas Etim</span></li>
                            <li><span class="subparagraph text-success">Elder Dr. Mike Ekanem</span></li>
                            <li><span class="subparagraph text-success">Dr. Mrs Lovina</span></li>
                            <li><span class="subparagraph text-success">Bro Matthew O. Ennanuotor</span></li>
                            <li><span class="subparagraph text-success">Elder Edward Godwin</span></li>
                            <li><span class="subparagraph text-success">Elder Odetola Ayodele</span></li>
                            <li><span class="subparagraph text-success">Deaconess Rose Etim</span></li>
                            <li><span class="subparagraph text-success">Elder Joseph Kalu</span></li>
                            <li><span class="subparagraph text-success">Bro. Joel Kerenwi</span></li>
                            <li><span class="subparagraph text-success">Elder Tenedam</span></li>
                        </ul>

                    </div>
                </div>
            </div>

        </p>
    </section>

    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                taccf patron/matron gallery
            </h2>
        </div>



        <div class="row u-margin-top-medium">
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/Adeniyi_Timothy.jpg' %}" alt="photo 4"
                        class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/pastor_isaiah2.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/king.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/friday.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
        </div>

        <div class="row u-margin-top-medium">
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/pastor_isaiah.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/king.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/charle_anchonwa.jpg' %}" alt="photo 4"
                        class="sub-composition__photo ">
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="sub-composition">
                    <img src="{% static 'blog/img/ennanuotor.jpg' %}" alt="photo 4" class="sub-composition__photo ">
                </div>
            </div>
        </div>



    </section>

    <section class="section-subabout">
        <div class="u-center-text u-margin-top-medium">
            <h2 class="heading-secondary">
                developer
            </h2>
        </div>
        <p class="subparagraph">
            I am theodore eyo, a network engineer and web developer with django web framework, specializing in both
            frontend and backend development. The language used in this site include html, css, javascript, bootstrap
            and python.<br><br>
            My journey to the developer industry started right in the taccf family house about a year ago in preparation
            for the new age of networking called network programmability which at the time was and will be the future of
            modern network
            engineers, so i embarked on this project.<br><br>
            I saw no better place to start than with the fellowship who received me after my 3 week stay in the NYSC
            orientation camp.<br><br>
            This happens to be my first project and i apreciate God Almighty for the abundant grace to have me scale
            through the process and see to the completion of this project. Special thanks to my
            parents, Prof. & Dr Mrs Nora E. Eyo for all their support, financially and otherwise including an awesome
            aunty of mine Mrs Eno Edet. I also want to send a shout out to my siblings, Dr. Martyn Eyo and Mrs Nelly
            Eyo.<br><br>

            Next i stand to acknowledge 2 awesome tutors who made me understand what being a web developer was all
            about. They are <span class="text-warning">Jonas Schmedtmann</span> from the natours
            project(frontend design) and <span class="text-warning">Corey Ms Schafer</span>.
        </p>
        <br><br><br><br><br><br><br><br><br><br><br>
        <p class="subparagraph">
            Now here are a list of things that you need to know about this website.<br>
            1. Only taccf members are allowed to register (both serving and passed-out) and login, non-members are not
            allowed.<br>
            2. Any non-member account will be deleted if discovered.<br>
            3. Once Authenticated as a member, extra features will be available for you to explore including your
            personal profile,
            else you are subjected to read-only.<br>
            4. Please use CHROME only. This is very important.<br>
            5. More... Coming Soon!!!

        </p>
    </section>



</main><br><br><br><br><br><br><br><br><br><br>

<footer class="footer">
    <div class="row">

        <div class="col-1-of-4">

            <div class="footer__logo-box justify-content-center">
                <img src="{% static 'blog/img/tacc.jpg' %}" alt="Logo" class="header__logo">
                <img src="{% static 'blog/img/nysc.jpg' %}" alt="Logo" class="header__logo">
                <p class="heading-secondary-2">
                    the apostolic church corpers fellowship
                </p>
            </div>
        </div>
        <div class="col-3-of-4">

            <div class="row">
                <div class="col">
                    <div class="footer__navigation ml-2">
                        <ul class="footer__list">
                            <li class="footer__item">
                                <div class="popups" onclick="myFunction()">
                                    co-ordinator
                                    <span class="popuptext" id="myPopup" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded-circle article-img"
                                            src="{% static 'blog/img/phone.jpg' %}" /><br>
                                        TACCF Co-ordinator: <span class="text-warning"> Mr. Friday Ndiigbo </span><br>
                                        phone_no: <span class="text-warning"> 07036909063 </span></span>
                                </div>

                            </li>
                            <li class="footer__item">
                                <div class="popups" onclick="myContact()">
                                    social media
                                    <span class="popuptext" id="myContact" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded-circle article-img"
                                            src="{% static 'blog/img/wa.jpg' %}" /><br>
                                        Get live updates from our facebook page<br>
                                        <span class="text-warning">https://web.facebook.com/groups/970771703312749/</span> </span>
                                </div>
                            </li>
                            <li class="footer__item">
                                <div class="popups" onclick="mySupport()">
                                    Support
                                    <span class="popuptext" id="mySupport" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded article-img"
                                            src="{% static 'blog/img/atm.jpg' %}" /><br>
                                        Account Name: TAC Rivers State<br>
                                        Account Number: <span class="text-warning">0210878735</span><br>
                                        Bank:<span class="text-warning"> GT Savings </span>Account

                                    </span>
                                </div>
                            </li>
                            <li class="footer__item">
                                <div class="popups" onclick="myEmail()">
                                    Email
                                    <span class="popuptext" id="myEmail" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded-circle article-img"
                                            src="{% static 'blog/img/email.jpg' %}" /><br>
                                        Send you thoughts and suggestions to us<br>
                                        Email: <span class="text-warning"> taccfrivers@gmail.com </span></span>
                                    </span>
                                </div>
                            </li>
                            <li class="footer__item">
                                <div class="popups" onclick="myDeveloper()">
                                    developer
                                    <span class="popuptext" id="myDeveloper" style="background-color:rgb(34, 30, 5);">
                                        <img style="height: 35px; width: 35px;" class="rounded-circle article-img"
                                            src="{% static 'blog/img/photo.jpg' %}" /><br>
                                        <span class="text-warning"> theodore eyo </span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><br><br><br><br><br>
                <div class="row">
                    <div class="col">
                        <p class=" footer__copyright footer__item mr-4">
                            © Copyright 2019 The Apostolic Church Corpers Fellowship. All rights reserved. Privacy
                            Policy
                            2019
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




{% endblock about %}