{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block post %}

<section class="section-book" id="section-book">
    <div class="row">
        <div class="col">

            <div class="book">
                <div class="book__form">
                    <form method="POST" class="form">
                        {% csrf_token %}

                        <div class="u-margin-bottom-medium">
                            <h2 class="heading-secondary">
                                Reset Password
                            </h2>
                        </div>
                        <h4 class="text-success">

                            {{form | crispy}}

                        </h4>

                        <div class="form__group">
                            <button class="btn btn--white u-margin-top-small">
                                Request Password Reset
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock post %}