{% extends "blog/base.html" %} {% block post %}

<section class="section-book ">
    <div class="row">
        <div class="col">

            <div class="book">
                <div class="book__form">
                    <div class="media text-success">
                        <div class="media-body">
                            <h2 class="account-heading">
                                your password has been set.

                            </h2><br>

                            <p class="paragragh font-weight-bold">
                                <h4>Co-ordinator: Mr. Friday Ndiigbo</h4>
                            </p>
                        </div>
                    </div>
                    <h3>

                        <small>
                            <a href="{% url 'users:login' %}">Sign In Here</a>
                        </small>
                    </h3>

                </div>
            </div>
        </div>
    </div>

</section>


{% endblock post %}